# Təhlükəsizlik
.env
config/.env
*.env

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Database
database/*.db
database/*.db-journal

# Logs
logs/
*.log

# Docker
.docker/

# IDE
.idea/
.vscode/
*.DS_Store
